NODE_ENV=production
PORT=5000
DATABASE_URL="file:./hspc_prod.db"
JWT_SECRET="CHANGE_THIS_SECRET"
DEFAULT_ADMIN_EMAIL="admin"
DEFAULT_ADMIN_PASSWORD="CHANGE_THIS_PASSWORD"
COMPANY_NAME="Home Safety Pest Control Service"
COMPANY_STATE="Kerala"
COMPANY_CITY="Idukki"
COMPANY_GSTIN=""
